footer{
    padding: 10px;
    color: #BBBBBB;
    font-size: 12px;
}

a{
<<<<<<< Updated upstream
    color: white ;
    text-decoration: none;
}
=======
    color: white;
    text-decoration: none;
}

>>>>>>> Stashed changes
p{
    margin-top: 0px;
    margin-bottom: 0px;
}